section {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
section .title {
  text-align: center;
  font-size: 32px;
  height: 42px;
  margin-top: 50px;
}
section .list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 158px;
}
section .list .item {
  display: flex;
  flex: 1;
  width: 22%;
  min-width: 22%;
  max-width: 22%;
  flex-direction: column;
  align-items: center;
  background-color: #a0eee1;
  margin-right: 20px;
}
section .list .item .item:after {
  content: "";
  height: 0;
  width: 24%;
}
section .list .item div {
  text-align: center;
}
section .list .item div:nth-child(1) {
  font-size: 20px;
  margin-top: 10px;
}
section .list .item span {
  margin: 20px 0 30px;
}
section .list .item span a {
  color: blue;
  padding-right: 10px;
}
