--- 
layout: default 
title: Home
---

<div>
  <br />
  <h1>Welcome! 欢迎来到我的博客！</h1><br>
  <h2>大体介绍</h2>
  <p>我叫李明，1994年生人，出生于马鞍山市当涂县，现居安徽芜湖。</p>
  <p>
    我于2017年毕业于铜陵学院金融学专业，在校期间获得的证书有：英语六级、初级会计证书、计算机二级、证券从业资格证、驾驶证。
  </p>
  <p>
    毕业后从事过4年的审计及会计工作(2017-2020)，工作过的城市有南京、广州、广东阳江。
  </p>
  <p>
    我在学习ExcelVBA的时候接触到一些计算机编程知识，综合考虑财务工作的未来前景和自己的职业发展规划，遂产生转行想法。
  </p>
  <br />
  <h2>学习历程</h2>
  <p>
    我于2018年8月从C语言开始学习，用了4个月的时间蜻蜓点水、断断续续的学习了Java、计算机网络、数据库、操作系统等课程。
  </p>
  <p>
    当时打算用4个月时间(想法很单纯)学一下Java就转行,不过因为非科班出生，计算机知识体系过于庞杂，Java学得很吃力，第一次转行失败(2018.08-12)。
  </p>
  <p>2019年1-4月属于迷茫期，期间没有学习计算机。</p>
  <p>
    2019年4月份北上北京找工作，自知计算机水平有限，所以还是找的财务类工作，主要工作内容是出审计报告和做账，同时兼任出纳。
  </p>
  <p>2019年4-7月没有学习计算机。</p>
  <p>
    2019年8月1日，终于下定决心再次尝试转行，这次思路更加清晰，不学后端了，改学前端，打算以后做一名前端工程师。
  </p>
  <p>于是开始了1年半的边工作边自学的前端学习历程(2019.08-2021.02)。</p>
  <br />
  <h2>本人技术栈如下：</h2>
  <ul>
    <li>
        <p>HTML & CSS & H5C3————<a href="https://github.com/lm101845/LearnHTMLAndCSS">学习痕迹</a></p>
    </li>
    <li>
        <p>JS & ES6————<a href="https://github.com/lm101845/LearnJavaScript">学习痕迹</a></p>
    </li>
    <li>
        <p>Vue2 & Vue3 & TS————<a href="https://github.com/lm101845/LearnVue">学习痕迹</a></p>
    </li>
    <li>
        <p>React————<a href="https://github.com/lm101845/LearnReact">学习痕迹</a></p>
    </li>
    <li>
        <p>Node & Express & MySQL————<a href="https://github.com/lm101845/LearnNode">学习痕迹</a></p>
    </li>
    <li>
         <p>JavaSE & JavaWeb————<a href="https://github.com/lm101845/LearnJavaSE">学习痕迹</a></p>
    </li>
    <li>
          <p>Webpack4 & 5————<a href="https://github.com/lm101845/LearnWebpack5">学习痕迹</a></p>
    </li>
    <li>
          <p>Linux————<a href="https://github.com/lm101845/LearnLinux">学习痕迹</a></p>
    </li>
    <li>
          <p>微信小程序————<a href="https://github.com/lm101845/LearnMiniProgram">学习痕迹</a></p>
    </li>
  </ul>
<br>
  <h2>前端项目</h2>
  <p>自己做过的前端项目详情请查看————<a href="/projects">项目栏</a></p><br />
  <h2>2021年2月之后</h2>
<p>2021年2月末辞去财务工作正式开始转行，投了三份简历，最终找到一份6-7人小公司的前端工程师的工作，不过这份工作只做了45天(2021.03.15-04.30)。</p>
  <p>客观原因是当时领导布置给我一个任务：在一台Linux服务器上开机同时开启http-server服务和websocket服务，http-server已经开启了，现在加上websocket服务就好了。</p>
  <p>当时领导布置完任务就去外面跑业务了，我在网上找了一些demo进行修改，并且达到了效果，我以为就成功了，把自己写的东西给领导看，领导原话如下：【我一开始就跟你说了，我要的不是你写代码，
  我要的是在长城主机上把websocket的服务器起来。这代码根本不用你写，我找一找以前历史里边都写过的服务器的代码，关键不是服务器的代码呀，关键是服务器的部署，我现在在那个长城主机上已经部署了HTTP了，
  我跟你一直都说了，除了HTTP之外，我需要把就是websocket给部署起来，我要求就是这个】。</p>
  <p>这件事最终的结果是，因为我没有理解领导的意思，以及我Linux、shell脚本语言知识的不足，期间也出现了很多别的问题，最终弄了一周也没弄好，最终还是领导一边网上搜资料一边敲代码弄好的。
  于是跟我说我沟通能力不足，五一后就不用来上班了，这段工作就这样结束了。</p>
<p>不过这段工作对我来说还是非常有价值的，起码我知道了前端工程师日常工作是怎样的，并且增加了真实项目开发经验，对我来说收获很大。</p>
<p>五一后自己赋闲在家，不过没有立刻去找工作，想着再把自己的前端和后端知识再补充一下再去找工作吧，于是学习了Vue3,TS,React,JavaSE等知识，并且系统梳理了一下自己的技术栈。
  这4个月的时间(2021.05-08)让自己的技术水平有了较大提升，现在是时候再重新找工作了。</p><br />
  <h2>求职期望</h2>
  <p>我的目标是希望找到一份月薪15k的前端工作。</p>
</div>
