<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
      <!-- 头部区域、内容区域、尾部区域用一个大盒子给包裹起来 -->
    <div>
        <!-- 导航区域 -->
        <nav>
        <ul class="tabs">
          <li><a href="/" target="_blank">首页</a></li>
          <li><a href="/cv" target="_blank">简历</a></li>
          <li><a href="/projects" target="_blank">项目</a></li>
          <li><a href="/blog" target="_blank">博客</a></li>
        </ul>
      </nav>
      <!-- 内容区域 -->
      <div class="content">
        {{content}}
        <br>
        <br>
        <br>
        <br>
      </div>
      <!-- 尾部区域——固定底部且水平居中Sticky Footer(绝对底部) -->
          <footer>
          <ul>
            <li><a href="mailto:1018457683@qq.com">Email</a></li>
            <li><a href="https://github.com/lm101845">Github</a></li>
            <li><a href="https://www.jianshu.com/u/6879af8ace24">Jianshu</a></li>
            <li><a href="https://space.bilibili.com/9002959">BiliBili</a></li>
            <li>
              <a href="https://www.linkedin.com/in/%E6%98%8E-%E6%9D%8E-98b902218/">Linkedin</a>
            </li>
          </ul>
          <i>&copy; All rights reserved</i>
      </footer>
    </div>
  </body>
</html>
